body {
    color: white;
    max-width: 600px;
    margin: auto;
    font-family: sans-serif;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
}

a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #8e2de2;
    transition: ease-in-out 250ms;
}

div  {
    color: white;
    line-height: 1.8em;
}

article + article {
    margin-top: 3rem;
    padding-top: 3rem;
    border-top: 1px solid #fff;
}

.post__a {
    color: #fff;
    text-decoration: none;
    margin-top: 1rem;
}
.post__a:hover {
    color: #8e2de2;
    transition: ease-in-out 250ms;
}
